<audio id="backtrack">
  <source src="../assets/musics/empty_dreams.mp3" type="audio/mpeg">
</audio>
<div id="body">
  <div class="card-row">
    <app-card [itemId] = idNumbers[0] />
    <app-card [itemId] = idNumbers[1] />
    <app-card [itemId] = idNumbers[2] />
    <app-card [itemId] = idNumbers[3] />
  </div>
  <div class="card-row">
    <app-card [itemId] = idNumbers[4] />
    <app-card [itemId] = idNumbers[5] />
    <app-card [itemId] = idNumbers[6] />
    <app-card [itemId] = idNumbers[7] />
  </div>
  <div class="card-row">
    <app-card [itemId] = idNumbers[8] />
    <app-card [itemId] = idNumbers[9] />
    <app-card [itemId] = idNumbers[10] />
    <app-card [itemId] = idNumbers[11] />
  </div>
</div>

<style scoped lang="scss">
#backtrack {
  display: none;
}
#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
}

</style>